<div class="col-10" *ngIf="dataReady">
  <div class="row">
    <div class="col-4" *ngFor="let product of products" [ngClass]="{'display-none' : !product.isTrash }">
      <mat-card class="cursor-pointer example-card m-2 p-0">
        <mat-card-header>
          <mat-card-title>{{product.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="mat-card-image" [src] = "product.imageUrl" alt="Photo">
        <mat-card-content>
          <p> {{product.shortDescription}}</p>
        </mat-card-content>
        <mat-card-actions class="justify-content-end">
          <button  mat-raised-button class="small  m-1 mat-mini-button"  (click)="onRestoreClick(product)" >RESTORE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>
