/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.small {
  height: 2rem;
  width: 2rem;
  font-size: small;
}

.display-none{
  display: none;
}

.align-self-center {
  align-self: center;
}

.mat-card-image {
  height: 297px !important;
  width: 297px !important;
}
