.example-section {
  margin: 12px 0;
  cursor: pointer;
}

.mat-card {
  max-width: 300px;
  max-height: 460px;
  inline-size: fit-content
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
mat-slider {
  width: 200px;
}

.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

.search-hero {
  max-width: 500px;
  padding: 10px;
}
img  {
  max-height: 268px;
  max-width: 240px;
}
.add-button {
  position: fixed ;
  bottom: 40px ;
  right: 20px ;
}
